@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body {
  font-family: "Raleway", sans-serif;
}
html {
  scroll-behavior: smooth;
}


/* Soft slide-in-down animation */
.animate-fadeUpSoft {
  animation: softSlideDown 1.4s ease-out forwards;
}

@keyframes softSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
    filter: blur(2px);
  }
  60% {
    opacity: 1;
    transform: translateY(2px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0px);
  }
}

/* Soft animated gradient border */
.gradient-border {
  position: relative;
  border-radius: 24px;
  padding: 2px; /* border thickness */
  overflow: hidden;
}

.gradient-border > * {
  position: relative;
  z-index: 2;
  background: white;
  border-radius: 20px;
  padding: 20px;
}

@keyframes rotateGradient {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
